ChatGipitiCampus.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1472,
        -488
      ],
      "id": "1fd9816a-b674-430d-9d0a-b8cf93379325",
      "name": "Telegram Trigger",
      "webhookId": "5415391d-adb3-4289-8d27-b1098fe430e0",
      "credentials": {
        "telegramApi": {
          "id": "0lHudLLWakXBxVyn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 759546748,
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o/edit#gid=759546748"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1248,
        -488
      ],
      "id": "81fcbd04-a192-4623-adec-c3dacd01a248",
      "name": "Guardar Usuario",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X4YGEpoayl9yUuCt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2081931583,
          "mode": "list",
          "cachedResultName": "SESIONES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o/edit#gid=2081931583"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1024,
        -488
      ],
      "id": "e3437e40-1649-42ac-ac59-68174f6e62b8",
      "name": "Leer sesiones",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X4YGEpoayl9yUuCt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tg = $('Telegram Trigger').item.json.message;\nconst chatId = String(tg.from.id);\nconst texto = (tg.text || '').trim();\n\nconst user = $('Guardar Usuario').item.json || {};\nconst activoTexto = String(user.activo || '').trim().toUpperCase();\nconst activo = ['TRUE', 'VERDADERO', 'SI', 'SÍ', '1', 'ACTIVO'].includes(activoTexto);\n\nconst sesiones = $('Leer sesiones').all().map(i => i.json);\nconst solicitudes = $('Leer solicitudes').all().map(i => i.json).filter(s => s.id_ticket);\n\nconst ticketsPorId = new Map();\n\nfor (const s of solicitudes) {\n  const id = String(s.id_ticket || '').trim();\n  if (id) {\n    ticketsPorId.set(id, s);\n  }\n}\n\nconst solicitudesUnicas = Array.from(ticketsPorId.values());\n\nconst misSesiones = sesiones\n  .filter(s => String(s.telegram_user).trim() === chatId)\n  .sort((a, b) => new Date(b.updated_at || 0) - new Date(a.updated_at || 0));\n\nconst sesion = misSesiones[0] || {};\nlet pantalla = sesion.pantalla_actual || 'menu';\n\nlet datos = {};\ntry {\n  datos = JSON.parse(sesion.datos_temp || '{}');\n} catch (e) {\n  datos = {};\n}\n\nconst menu = `Hola, soy HelpDeskBot 👋\n\nEstoy aquí para ayudarte con solicitudes de soporte\nde forma rápida y ordenada.\n\nPor favor escribe el número de la opción que quieras usar.\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración`;\n\nif (!activo) {\n  return [{\n    json: {\n      chat_id: chatId,\n      respuesta: '❌ No tienes acceso al sistema. Contacta al administrador.',\n      pantalla_actual: 'menu',\n      datos_temp: '{}',\n      guardar_ticket: false,\n      actualizar_estado: false,\n      ticket_estado: null,\n      log_resultado: 'usuario_inactivo',\n      opcion: texto\n    }\n  }];\n}\n\nlet respuesta = '';\nlet guardarTicket = false;\nlet ticket = null;\n\nif (texto === '/start') {\n  pantalla = 'menu';\n  respuesta = menu;\n  datos = {};\n} else if (pantalla === 'menu') {\n  if (texto === '0') {\n    respuesta = `Ayuda de HelpDeskBot\n\nPuedes usar estas opciones:\n\n1. Crear solicitud\nRegistra una nueva solicitud de soporte paso a paso.\n\n2. Consultar estado de solicitud\nPermite escribir el ID de un ticket para ver su estado actual.\n\n3. Mis solicitudes\nMuestra tus solicitudes registradas.\n\n4. Reportes\nMuestra un resumen general de solicitudes por estado y prioridad.\n\n5. Configuración\nMuestra tu información de usuario. Si eres administrador, permite cambiar estados de tickets.\n\n9. Cancelar\nDurante la creación o edición de una solicitud, cancela el proceso actual.\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración`;\n  } else if (texto === '1') {\n    pantalla = 'tipo';\n    respuesta = `Vamos a crear una solicitud, para lo cual se necesitará escoger su tipo.\n\nSelecciona el tipo:\n1. Soporte técnico\n2. Solicitud administrativa\n3. Consulta general\n9. Cancelar`;\n  } else if (texto === '2') {\n    pantalla = 'consultar';\n    respuesta = 'Escribe el ID del ticket que quieres consultar.\\n\\n9. Cancelar';\n  } else if (texto === '3') {\n    const misTickets = solicitudesUnicas\n      .filter(s => String(s.creado_por).trim() === chatId)\n      .slice(-5)\n      .reverse();\n\n    if (misTickets.length === 0) {\n      respuesta = `No tienes solicitudes registradas todavía.\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración`;\n    } else {\n      const lista = misTickets.map(t => {\n        return `ID: ${t.id_ticket}\nTipo: ${t.tipo}\nPrioridad: ${t.prioridad}\nEstado: ${t.estado}`;\n      }).join('\\n\\n');\n\n      respuesta = `Tus últimas solicitudes:\n\n${lista}\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración`;\n    }\n  } else if (texto === '4') {\n    const total = solicitudesUnicas.length;\n    const abiertos = solicitudesUnicas.filter(s => String(s.estado || '').toLowerCase() === 'abierto').length;\n    const enProceso = solicitudesUnicas.filter(s => String(s.estado || '').toLowerCase() === 'en proceso').length;\n    const cerrados = solicitudesUnicas.filter(s => String(s.estado || '').toLowerCase() === 'cerrado').length;\n    const alta = solicitudesUnicas.filter(s => String(s.prioridad || '').toLowerCase() === 'alta').length;\n    const media = solicitudesUnicas.filter(s => String(s.prioridad || '').toLowerCase() === 'media').length;\n    const baja = solicitudesUnicas.filter(s => String(s.prioridad || '').toLowerCase() === 'baja').length;\n\n    respuesta = `Reporte general de solicitudes:\n\nTotal: ${total}\nAbiertas: ${abiertos}\nEn proceso: ${enProceso}\nCerradas: ${cerrados}\n\nPor prioridad:\nAlta: ${alta}\nMedia: ${media}\nBaja: ${baja}\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración`;\n  } else if (texto === '5') {\n    const esAdmin = String(user.rol || '').trim().toLowerCase() === 'admin';\n    \n    if (esAdmin) {\n      pantalla = 'admin_config';\n      respuesta = `Configuración / Administración:\n\n1. Cambiar estado de solicitud\n9. Volver al menú`;\n    } else {\n      respuesta = `Configuración de usuario:\n\nUsuario Telegram: ${chatId}\nNombre: ${user.nombre || 'No registrado'}\nRol: ${user.rol || 'usuario'}\nActivo: ${activo ? 'Sí' : 'No'}\n\nEl bot opera con menú numérico y registra solicitudes en Google Sheets.\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración`;\n    }\n  } else {\n    respuesta = menu;\n  }\n} else if (pantalla === 'admin_config') {\n  if (texto === '1') {\n    pantalla = 'estado_id';\n    respuesta = 'Escribe el ID del ticket cuyo estado quieres cambiar.\\n\\n9. Cancelar';\n  } else if (texto === '9') {\n    pantalla = 'menu';\n    datos = {};\n    respuesta = menu;\n  } else {\n    respuesta = 'Opción no válida.\\n\\n1. Cambiar estado de solicitud\\n9. Volver al menú';\n  }\n} else if (pantalla === 'estado_id') {\n  if (texto === '9') {\n    pantalla = 'menu';\n    datos = {};\n    respuesta = menu;\n  } else {\n    datos.id_ticket_estado = texto;\n    pantalla = 'estado_nuevo';\n    respuesta = 'Selecciona el nuevo estado:\\n\\n1. Abierto\\n2. En proceso\\n3. Cerrado\\n9. Cancelar';\n  }\n} else if (pantalla === 'estado_nuevo') {\n  const estados = {\n    '1': 'Abierto',\n    '2': 'En proceso',\n    '3': 'Cerrado'\n  };\n\n  if (texto === '9') {\n    pantalla = 'menu';\n    datos = {};\n    respuesta = menu;\n  } else if (!estados[texto]) {\n    respuesta = 'Estado no válido.\\n\\n1. Abierto\\n2. En proceso\\n3. Cerrado\\n9. Cancelar';\n  } else {\n    const nuevoEstado = estados[texto];\n    ticket = {\n      id_ticket: datos.id_ticket_estado,\n      estado: nuevoEstado\n    };\n    guardarTicket = true;\n    pantalla = 'menu';\n    datos = {};\n    respuesta = `✅ El estado del ticket ${ticket.id_ticket} será actualizado a: ${nuevoEstado}`;\n  }\n} else if (pantalla === 'tipo') {\n  const tipos = {\n    '1': 'Soporte técnico',\n    '2': 'Solicitud administrativa',\n    '3': 'Consulta general'\n  };\n\n  if (texto === '9') {\n    pantalla = 'menu';\n    datos = {};\n    respuesta = menu;\n  } else if (!tipos[texto]) {\n    respuesta = '⚠️ Opción no válida.\\n1. Soporte técnico\\n2. Solicitud administrativa\\n3. Consulta general\\n9. Cancelar';\n  } else {\n    datos.tipo = tipos[texto];\n    pantalla = 'prioridad';\n    respuesta = 'Selecciona la prioridad:\\n1. Alta\\n2. Media\\n3. Baja\\n9. Cancelar';\n  }\n} else if (pantalla === 'prioridad') {\n  const prioridades = {\n    '1': 'Alta',\n    '2': 'Media',\n    '3': 'Baja'\n  };\n\n  if (texto === '9') {\n    pantalla = 'menu';\n    datos = {};\n    respuesta = menu;\n  } else if (!prioridades[texto]) {\n    respuesta = '⚠️ Prioridad no válida.\\n1. Alta\\n2. Media\\n3. Baja\\n9. Cancelar';\n  } else {\n    datos.prioridad = prioridades[texto];\n    pantalla = 'descripcion';\n    respuesta = 'Describe la solicitud con mínimo 10 caracteres.\\n\\n9. Cancelar';\n  }\n} else if (pantalla === 'descripcion') {\n  if (texto === '9') {\n    pantalla = 'menu';\n    datos = {};\n    respuesta = menu;\n  } else if (texto.length < 10) {\n    respuesta = '⚠️ La descripción es muy corta. Escribe mínimo 10 caracteres.';\n  } else {\n    datos.descripcion = texto;\n    pantalla = 'confirmacion';\n    respuesta = `Resumen de tu solicitud:\n\nTipo: ${datos.tipo}\nPrioridad: ${datos.prioridad}\nDescripción: ${datos.descripcion}\n\n¿Confirmas?\n1. Sí, guardar\n2. Editar descripción\n9. Cancelar`;\n  }\n} else if (pantalla === 'confirmacion') {\n  if (texto === '1') {\n    const idTicket = `HD-${Date.now()}`;\n    ticket = {\n      id_ticket: idTicket,\n      tipo: datos.tipo,\n      prioridad: datos.prioridad,\n      descripcion: datos.descripcion,\n      estado: 'Abierto',\n      creado_por: chatId,\n      fecha_creacion: new Date().toISOString()\n    };\n\n    guardarTicket = true;\n    pantalla = 'menu';\n    datos = {};\n    respuesta = `✅ Solicitud creada exitosamente.\n\nID: ${idTicket}\nEstado: Abierto\n\nPuedes consultar el estado más adelante.`;\n  } else if (texto === '2') {\n    pantalla = 'descripcion';\n    respuesta = 'Vuelve a escribir la descripción.';\n  } else if (texto === '9') {\n    pantalla = 'menu';\n    datos = {};\n    respuesta = menu;\n  } else {\n    respuesta = '⚠️ Opción no válida.\\n1. Sí, guardar\\n2. Editar descripción\\n9. Cancelar';\n  }\n} else if (pantalla === 'consultar') {\n  if (texto === '9') {\n    pantalla = 'menu';\n    datos = {};\n    respuesta = menu;\n  } else {\n    const ticketEncontrado = solicitudesUnicas.find(s =>\n      String(s.id_ticket || '').trim() === texto\n    );\n\n    pantalla = 'menu';\n    datos = {};\n\n    if (!ticketEncontrado) {\n      respuesta = `No encontré una solicitud con ese ID.\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración`;\n    } else {\n      respuesta = `Estado de solicitud:\n\nID: ${ticketEncontrado.id_ticket}\nTipo: ${ticketEncontrado.tipo}\nPrioridad: ${ticketEncontrado.prioridad}\nDescripción: ${ticketEncontrado.descripcion}\nEstado: ${ticketEncontrado.estado}\nFecha creación: ${ticketEncontrado.fecha_creacion}\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración`;\n    }\n  }\n} else {\n  pantalla = 'menu';\n  respuesta = menu;\n  datos = {};\n}\n\nconst actualizarEstado = guardarTicket && ticket && !ticket.tipo;\nconst ticketEstado = actualizarEstado ? ticket : null;\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    respuesta,\n    pantalla_actual: pantalla,\n    datos_temp: JSON.stringify(datos),\n    guardar_ticket: guardarTicket && !actualizarEstado,\n    ticket: actualizarEstado ? null : ticket,\n    actualizar_estado: actualizarEstado,\n    ticket_estado: ticketEstado,\n    opcion: texto,\n    log_resultado: guardarTicket ? (actualizarEstado ? 'estado_actualizado' : 'ticket_creado') : 'mensaje_procesado'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -488
      ],
      "id": "985d6e40-4d1d-4743-bade-ad71b863c364",
      "name": "Procesar mensaje"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b6a386ce-b301-4d75-a21f-5eb61ceae554",
              "leftValue": "={{ $json.guardar_ticket }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -352,
        -488
      ],
      "id": "33fc962a-6d9d-4b99-b86c-4be10638fdcd",
      "name": "Guardar ticket?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1164082200,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o/edit#gid=1164082200"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $('Procesar mensaje').item.json.ticket.id_ticket }}",
            "tipo": "={{ $('Procesar mensaje').item.json.ticket.tipo }}",
            "prioridad": "={{ $('Procesar mensaje').item.json.ticket.prioridad }}",
            "descripcion": "={{ $('Procesar mensaje').item.json.ticket.descripcion }}",
            "estado": "={{ $('Procesar mensaje').item.json.ticket.estado }}",
            "creado_por": "={{ $('Procesar mensaje').item.json.ticket.creado_por }}",
            "fecha_creacion": "={{ $('Procesar mensaje').item.json.ticket.fecha_creacion }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        -560
      ],
      "id": "50b36922-2304-4537-a694-10b75d928c5b",
      "name": "Guardar ticket",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X4YGEpoayl9yUuCt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2081931583,
          "mode": "list",
          "cachedResultName": "SESIONES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o/edit#gid=2081931583"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Procesar mensaje').item.json.chat_id }}",
            "pantalla_actual": "={{ $('Procesar mensaje').item.json.pantalla_actual }}",
            "datos_temp": "={{ $('Procesar mensaje').item.json.datos_temp }}",
            "updated_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_temp",
              "displayName": "datos_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        -488
      ],
      "id": "48791dae-71ae-42e9-aef7-d5811c90f89e",
      "name": "Guardar Sesion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X4YGEpoayl9yUuCt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Procesar mensaje').item.json.chat_id }}",
        "text": "={{ $('Procesar mensaje').item.json.respuesta }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        -488
      ],
      "id": "a0a1bc0a-69ca-4bd6-bdfc-2a6489267afe",
      "name": "Enviar mensaje",
      "webhookId": "d246c512-eb8d-4552-bf38-8a73603919f5",
      "credentials": {
        "telegramApi": {
          "id": "0lHudLLWakXBxVyn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 348560895,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o/edit#gid=348560895"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ new Date().toISOString() }}",
            "telegram_user": "={{ $('Procesar mensaje').item.json.chat_id }}",
            "pantalla": "={{ $('Procesar mensaje').item.json.pantalla_actual }}",
            "opcion": "={{ $('Procesar mensaje').item.json.opcion }}",
            "resultado": "={{ $('Procesar mensaje').item.json.log_resultado }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ac3558e6-6111-4a9b-a201-974d8a283fdc",
      "name": "Guardar log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        -488
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X4YGEpoayl9yUuCt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1164082200,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o/edit#gid=1164082200"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "creado_por",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -800,
        -488
      ],
      "id": "58a083cf-b4cb-4372-afad-e6c0a861bd66",
      "name": "Leer solicitudes",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X4YGEpoayl9yUuCt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "leftValue": "={{ $('Procesar mensaje').item.json.actualizar_estado }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "332c9e1d-118a-459f-9bc5-b9c5e12ff988",
      "name": "Actualizar estado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        -488
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1164082200,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11mez7jn3PwLNTXOPf886BV-J0gdmNq3QcAU6rSJlf-o/edit#gid=1164082200"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $('Procesar mensaje').item.json.ticket_estado.id_ticket }}",
            "estado": "={{ $('Procesar mensaje').item.json.ticket_estado.estado }}"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false,
              "readOnly": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4c46f129-bb28-49bd-baf3-2e525e8f9617",
      "name": "Actualizar estado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        -416
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X4YGEpoayl9yUuCt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 289560980,
          "message": {
            "message_id": 287,
            "from": {
              "id": 7589512951,
              "is_bot": false,
              "first_name": "Dant",
              "language_code": "es"
            },
            "chat": {
              "id": 7589512951,
              "first_name": "Dant",
              "type": "private"
            },
            "date": 1777524748,
            "text": "/start",
            "entities": [
              {
                "offset": 0,
                "length": 6,
                "type": "bot_command"
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Guardar Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Usuario": {
      "main": [
        [
          {
            "node": "Leer sesiones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer sesiones": {
      "main": [
        [
          {
            "node": "Leer solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar mensaje": {
      "main": [
        [
          {
            "node": "Guardar ticket?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar ticket?": {
      "main": [
        [
          {
            "node": "Guardar ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actualizar estado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar ticket": {
      "main": [
        [
          {
            "node": "Actualizar estado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Sesion": {
      "main": [
        [
          {
            "node": "Enviar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar log": {
      "main": [
        [
          {
            "node": "Guardar Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer solicitudes": {
      "main": [
        [
          {
            "node": "Procesar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar estado?": {
      "main": [
        [
          {
            "node": "Actualizar estado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar estado": {
      "main": [
        [
          {
            "node": "Guardar log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "007b90a0-e463-4127-960c-a23354026717",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc7ac5592a20deaf0a106e896c4cd04a31ce761ddd7ae21d52336a5821fa6da7"
  },
  "id": "keuBkFklVugexGMz",
  "tags": []
}